<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CMPUT 396 Hex</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='deps/semantic/dist/semantic.min.css') }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='deps/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deps/semantic/dist/semantic.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deps/phaser/build/phaser.min.js') }}"></script>
  </head>

  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <div id="resize_modal" class="ui small modal editform">
      <i class="close icon"></i>
      <div class="description">
        <div class="ui header">Choose a new board size.</div>
        <form class="ui form">
          <div class="field">
          <input placeholder="Row Dimension..." name="row_dimension" type="text">
          </div>
          <div class="field">
            <input placeholder="Column Dimension..." name="column_dimension" type="text">
          </div>
          <button class="ui right button" type="submit">Resize</button>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
    <div id="winner_modal" class="ui small modal">
      <i class="close icon"></i>
      <div class="description">
        <div class="ui header">Winner Detected!</div>
        <p id="who_wins"></p>
      </div>
    </div>
    <div id="agent_modal" class="ui small modal">
      <i class="close icon"></i>
      <div class="description">
        <div class="ui header">Choose an AI agent.</div>
        <div class="ui selection dropdown">
          <input type="hidden" name="agent">
          <i class="dropdown icon"></i>
          <div class="default text">Agent</div>
          <div class="menu">
            <div class="item" data-value="0">First Action</div>
            <div class="item" data-value="1">Uniform Random</div>
            <div class="item" data-value="2">MCTS</div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</html>
