<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CMPUT 396 Puzzles</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>
<canvas id="maze"></canvas>
<script type="text/javascript" src="{{ url_for('static', filename='js/maze.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
</body>
</html>
